*{
    margin: 0;
    padding: 0;
    border: 0;
}

html{

    font-size: 62.5%;
}

div{
    display: block;
}

header{

    display: block;
}

$aling: left;
$bg-color: red;
$color-01: blue;
$color-02: green;
$color-03: white;
$font-family-default: arial, helvetica, sans-serif;


h1{
    color: $bg-color;
    font-size: $font-family-default;
}

nav{
    color: $color-02;
}